.modalContent {
  background: var(--primary-color-white);
  width: 280px;
  padding: 24px;
  border-radius: 10px;
}

.textModalContent {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 24px;
}

.btnGroup {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  padding: 0;
}

.cancelButton,
.logoutButton {
  width: 232px;
  height: 36px;
  border-radius: 10px;
  padding: 8px;
  background-color: var(--secondary-color-5);
  color: var(--primary-color-blue);
  font-size: 18px;
  font-weight: 400;
  border: none;
  /* box-shadow: var(--box-shadow); */
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 4px 14px rgba(64, 123, 255, 0.54);
  }
}

.logoutButton {
  background-color: var(--secondary-color-3);
  color: var(--primary-color-white);
}

@media (min-width: 768px) {
  .modalContent {
    width: 592px;
  }

  .btnGroup {
    flex-direction: row;
    justify-content: flex-end;
  }

  .cancelButton,
  .logoutButton {
    padding: 10px;
    width: 160px;
    height: 44px;
  }
}

@media (min-width: 1440px) {
  .btnGroup {
    justify-content: flex-start;
  }
}