.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Фіксує контейнер у вікні */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-white);
    ;
    z-index: 1000;
}