.modal {
  position: fixed;
  top: 18%;
  left: 93%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: #407bff;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  align-items: center;
  line-height: normal;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  padding: 8px 16px;
  gap: 8px; 
  border: none;
  cursor: pointer;
}

.title {
    margin-bottom: 15px;
  color: black;
}

.block {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}

.cancelButton {
    width: 200px;
  background-color: #d7e3ff;
  color: #407bff;
}

.logoutButton {
    width: 200px;
  background-color: #EF5050;
  color: #ffffff;
}

.buttonText {
  margin-left: 5px;
    font-size: 22px;  
    line-height: 1.5; 
  }

 