.modal {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 1000; 
  padding: 10px;
}

.modalContent {
  background: #fff;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1010; 
}


.button {
  color: #407bff;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  align-items: center;
  line-height: normal;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
  color: black;
}

.block {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}

.cancelButton {
  width: 200px;
  background-color: #d7e3ff;
  color: #407bff;
}

.logoutButton {
  width: 200px;
  background-color: #ef5050;
  color: #ffffff;
}

.buttonText {
  margin-left: 5px;
  font-size: 22px;
  line-height: 1.5;
}

 