.modal {
  position: absolute;
  right: -10px;
  padding: 10px;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  border-radius: 12px;
  width: 140px;
  height: 120px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1010;
  gap: 10px;
}

.button {
  color: #407bff;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  display: flex;
  justify-content: center;
  line-height: normal;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
  color: black;
}

.block {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}

.cancelButton {
  width: 200px;
  background-color: #d7e3ff;
  color: #407bff;
}

.logoutButton {
  width: 200px;
  background-color: #ef5050;
  color: #ffffff;
}

.buttonText {
  margin-left: 5px;
}
