.modal {
  position: absolute;
  right: -10px;
  padding: 10px;
  z-index: 1000;
}

.modalContent {
  background: var(--primary-color-white);
  border-radius: 12px;
  width: 140px;
  height: 120px;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-2);
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1010;
  gap: 10px;
}

.button {
  color: var(--primary-color-blue);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  display: flex;
  justify-content: center;
  line-height: normal;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  cursor: pointer;
}

.icon {
  background: transparent;
  fill: none;
  stroke: var(--primary-color-blue);
}

.button:hover {
  box-shadow: none;
}

.button:hover .buttonText {
  color: var(--secondary-color-5-orange);
}

.button:hover .icon {
  stroke: var(--secondary-color-5-orange);
}

.block {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}

.cancelButton {
  width: 200px;
  background-color: var(--secondary-color-5);
  color: var(--primary-color-blue);
}

.logoutButton {
  width: 200px;
  background-color: var(--secondary-color-3);
  color: var(---primary-color-white);
}

.buttonText {
  margin-left: 5px;
}