.toggleButton {
  position: relative;
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.iconMoon,
.iconSun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.iconMoon {
  color: var(--secondary-color-5-orange);
}

.iconSun {
  color: var(--secondary-color-5-orange);
}

.toggleButton:hover .iconMoon {
  color: var(--secondary-color-5-orange);
}

.toggleButton:hover .iconSun {
  color: var(--secondary-color-5-orange);
}
