.calendarContainer {
  padding: 2px;
  width: 100%;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.navigation {
  display: flex;
  align-items: center;
  color: var(--primary-color-blue);
}

.navigation .prev,
.navigation .next {
  cursor: pointer;
  margin: 0 10px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.day {
  text-align: center;
    /* padding: 10px; */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.day .date {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--primary-color-white);
  border-radius: 50%;
  text-align: center;
  padding: 7px 6px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day .percentage {
  font-size: 10px;
  width: 100%;
  text-align: center;
  line-height: 160%;
  color: var(--secondary-color-4);
}

.unfilled {
  border: 1px solid var(--secondary-color-5-orange);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  position: absolute;
    bottom: 100%;
       left: 0;
    transform: translateX(-5%);
  background-color: var(--primary-color-white);
  z-index: 10;
  text-align: left;
  border-radius: 10px;
  padding: 24px 16px;
  width: 292px;
  height: 188px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  visibility: hidden;
  opacity: 0;
  animation: fadeOut 0.3s ease forwards;
}

.day:hover .modal {
  visibility: visible;
  animation: fadeIn 0.3s ease forwards;
}
.day:nth-of-type(5n) .modal {
  transform:translateX(-0%);
}
.day:nth-of-type(5n+2) .modal {
  transform:translateX(-20%);
}    
.day:nth-of-type(5n+3) .modal {
  transform:translateX(-40%);
}
.day:nth-of-type(5n+4) .modal {
  transform:translateX(-60%);
}
.day:nth-of-type(5n+5) .modal {
  transform:translateX(-80%);
}

.modalDate {
  font-size: 16px;
  line-height: 125%;
  color: var(--primary-color-blue);
}

.modalText {
  font-size: 16px;
  line-height: 125%;
  color: var(--primary-color-black);
}

.modalTextBlue {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: var(--primary-color-blue);
}

@media (min-width: 768px) {
  .calendar {
    grid-template-columns: repeat(10, 1fr);
  }
  .day .modal {
    bottom: 100%;
    left: 50%;
    transform: translateX(0);
  }
  .day:nth-of-type(n) .modal {
 transform: translateX(0);
}
.day:nth-of-type(10n+7) .modal {
  transform:translateX(-20%);
}
.day:nth-of-type(10n+8) .modal {
  transform:translateX(-40%);
}
.day:nth-of-type(10n+9) .modal {
  transform:translateX(-60%);
}
.day:nth-of-type(10n+10) .modal {
  transform:translateX(-80%);
}
}
@media (min-width: 1280px) {
  .calendar {
  gap: 22px;
  }
}

