.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-blue);
  box-shadow: var(--box-shadow);
  border: none;

  width: 280px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--primary-color-white);
}

.btn:hover {
  box-shadow: var(--box-shadow-2);
}

.btn:active {
  box-shadow: none;
}

.icon-white {
  width: 24px;
  height: 24px;
  background: transparent;
  fill: none;
  stroke: var(--primary-color-white);
}

@media screen and (min-width: 768px) {
  .btn {
    width: 336px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .btn {
    width: 180px;
  }
}
