.modal {
  position: relative;
  width: 280px;
  max-height: 80vh;
  background-color: var(--primary-color-white);
  border-radius: 10px;
  padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;

  z-index: 1000;
  overflow-y: auto;
}

.formGroup input[name="email"] {
  margin-bottom: 24px;
}

/* .errorMessage {
  bottom: -22px;
} */

@media screen and (min-width: 768px) {
  .modal {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    width: 704px;
    max-height: 80vh;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modalHeader h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.formGroup .error {
  border-color: var(--secondary-color-3);
}
.formGroup input[name="userName"] {
  margin-bottom: 24px;
}

.formGroup input[name="currentPassword"],
.formGroup input[name="newPassword"] {
  margin-bottom: 12px;
}

.formGroup input::placeholder:active {
  color: var(--primary-color-blue);
}
.formGroup label {
  display: block;
  margin-bottom: 8px;
}

.formGroup .formGroup input[type="radio"] {
  margin-right: 8px;
  color: var(--primary-color-blue);
}

.formGroup button {
  margin-top: 8px;
}
.formGroupOther {
  display: flex;
  flex-direction: column;
}

.photoUploadBox {
  padding: 8px 0 24px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.photoUploadContainer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.gender {
  display: flex;
  gap: 30px;
  padding-bottom: 52px;
  margin-top: 4px;
}

.input1,
.input2 {
  display: flex;
  flex-direction: column;
}
.inputWrap {
  position: relative;
  width: 256px;
}
.input {
  border-radius: 4px;
  background-color: var(--primary-color-white);
  width: 256px;
  padding: 10px;
  border: 1px solid var(--secondary-color-5);
  border-radius: 4px;
  color: var(--secondary-color-4);
}
@media screen and (min-width: 768px) {
  .input {
    width: 392px;
  }
  .inputWrap {
    width: 392px;
  }
}
.input:focus {
  color: var(--primary-color-blue);
}

.label {
  font-weight: 500;
  line-height: 1.1;
  font-size: 18px;
}

.gender label {
  margin-bottom: 0;
}

.formGroup p {
  margin-top: 4px;
  margin-bottom: 8px;
}
.formGroup {
  position: relative;
}

.saveBtn {
  border: none;
  background-color: var(--primary-color-blue);
  border-radius: 10px;
  width: 256px;
  height: 44px;
  color: var(--primary-color-white);
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  margin-top: 24px;
}
.saveBtn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.2);
}

@media screen and (min-width: 768px) {
  .saveBtn {
    width: 160px;
    height: 44px;
    margin-top: 0;
  }
}

.contBtn {
  justify-content: end;
  display: flex;
}

.uploadButton {
  width: 134px;
  height: 18px;
  color: var(--primary-color-blue);
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 7px;
  padding: 0;
  border: none;
  background: none;
}

.uploadBtnGroup {
  display: flex;
  align-items: center;
}

.formGroup input::placeholder {
  color: var(--secondary-color-4);
  font-size: 16px;
  line-height: 1.25;
}

.formGroup input:focus::placeholder {
  color: var(--primary-color-blue);
}

.formGroup input[type="text"],
input[type="password"] {
  padding: 8px 40px 8px 8px;
}

.buttonSvg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  top: 12px;
  background: none;
  border: none;
  padding: 0;
  width: 16px;
}
.avatarPreviewWrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.error {
  color: var(--secondary-color-3);
  font-size: 14px;
  position: absolute;
  bottom: -10px;
  white-space: nowrap;
}

.inputError {
  border: 2px solid var(--secondary-color-3);
  color: var(--secondary-color-3);
}
.errorMessageEmail {
  bottom: 2px;
}
.errorMessage {
  bottom: -22px;
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 1008px;
  }
  .inputGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
  }

  .formGroup input[name="email"] {
    margin-bottom: 0;
  }
  .errorMessageEmail {
    bottom: -22px;
  }
}
