@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: center; /* Центрую елементи по горизонталі */
    align-items: center;
    gap: 81px;
  }
}
