.iconEditButton {
  background: transparent;
  fill: none;
  stroke: var(--secondary-color-4);
  transition: 0.2s ease-in-out;
}

.iconEditButton:hover {
  transform: scale(1.25);
}

.iconDeliteButton {
  background: transparent;
  fill: none;
  stroke: var(--secondary-color-3);
  transition: 0.2s ease-in-out;
}

.iconDeliteButton:hover {
  transform: scale(1.25);
}

.editButton {
  cursor: default;
  text-align: center;
  position: relative;
  height: 16px;
  width: 16px;
  padding: 0;
  margin: 4px;
  background: transparent;
  border: none;
}

.editButton::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary-color-4);
  transition: width 0.25s ease-in-out;
}

.editButton:hover::after {
  width: 100%;
}

.deleteButton {
  position: relative;
  cursor: default;
  text-align: center;
  height: 16px;
  width: 16px;
  padding: 0;
  margin: 4px;
  background: transparent;
  border: none;
}

.deleteButton::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary-color-3);
  transition: width 0.25s ease-in-out;
}

.deleteButton:hover::after {
  width: 100%;
}

.iconGlass {
  width: 26px;
  height: 26px;
  background: transparent;
  fill: var(--primary-color-blue);
}

@media screen and (min-width: 1440px) {
  .iconGlass {
    width: 36px;
    height: 36px;
  }
}

.wrapper {
   position: relative;
  display: flex;
  flex-direction: column;
  height: 258px;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--primary-black-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 1.23;
  }
  
}

.waterList {
  max-height: 176px;
  margin-bottom: 50px;
  overflow: auto;
}

.blank {
  color: var(--primary-color-blue);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 152px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color-5);
  
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 146px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .info {
  
  width: 206px;
}
 
  }

.todayVolume {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--primary-color-blue);
  
}

.todayTime {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--primary-color-black);
  white-space: nowrap;
}

.tools {
  display: flex;
  gap: 18px;
}

.waterList::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}

.waterList::-webkit-scrollbar-track {
  background-color: var(--secondary-color-5);
  border-radius: 8px;
}

.waterList::-webkit-scrollbar-thumb {
  background: rgba(158, 187, 255, 1);
  border-radius: 12px;
}

.addWaterButton {
  position: absolute;
  bottom: 10px;
  background-color: transparent;
  border: none;
  color: var(--primary-color-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 8px;
  transition: color 0.3s ease;
  box-shadow: none;
  width: fit-content;
}
.addWaterButton:hover,
.addWaterButton:focus {
  color: var(--secondary-color-5-orange);
  box-shadow: none;
}

.customIconClass {
  fill: none;
  stroke: var(--primary-color-blue); 
   width: 16px;
height: 16px;
}

.addWaterButton:hover .customIconClass,
.addWaterButton:focus .customIconClass {
  stroke: var(--secondary-color-5-orange); 
}

@media screen and (min-width: 768px) {
  .customIconClass {
    width: 24px;
    height: 24px;
    fill: transparent;
}
  
}

