.icon-black {
    /* background: transparent; */
    fill: none;
    stroke: var(--primary-color-black);
}

.icon-blue {
    background: transparent;
    fill: none;
    stroke: var(--primary-color-blue);
}