body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calendar-container {
    background-color: var(--primary-color-white);
    padding: 2px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.navigation {
    display: flex;
    align-items: center;
    color: var(--primary-color-blue);
}

.navigation .prev,
.navigation .next {
    cursor: pointer;
    margin: 0 10px;
    /* color: #407BFF; */
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.day {
    text-align: center;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.day .date {
    /* margin: 0 auto; */
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    padding: 6px;
    width: 32px;
    /* height: 32px; */
    background-color: var(--primary-color-white);
    border-radius: 50%;
    text-align: center;
}

.day .percentage {
    font-size: 10px;
    width: 100%;
    text-align: center;
    line-height: 160%;
    color: var(--secondary-color-4);
}

.unfilled {
    border: 1px solid var(--secondary-color-5-orange);
}

.modal {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color-white);
    /* border: 1px solid #ccc; */
    z-index: 10;
    text-align: left;

    border-radius: 10px;
    padding: 24px 16px;
    width: 292px;
    height: 188px;

    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
}

.day:hover .modal {
    visibility: visible;
}

.modal-date {
    font-size: 16px;
    line-height: 125%;
    color: var(--primary-color-blue);
}

.modal-text {
    font-size: 16px;
    line-height: 125%;
    color: var(--primary-color-black);
}

.modal-text-blue {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: var(--primary-color-blue);
}

@media (min-width: 768px) {
    .calendar {
        grid-template-columns: repeat(10, 1fr);
    }
}