.authFormContainer {
  width: 280px;
  margin: 0 auto;
  padding: 1rem;
}

.formGroup {
  position: relative;
  margin-bottom: 40px;
}

.formGroup label {
  font-size: 18px;
  line-height: 133%;
  color: var(--primary-color-black);
  display: block;
  margin-bottom: 8px;
}

.formGroup .inputError {
  border: 1px solid var(--secondary-color-3);
  color: var(--secondary-color-3);
}

.formGroup input {
  width: 100%;
  border: 1px solid var(--secondary-color-5);
  border-radius: 6px;
  padding: 12px 10px;
  height: 44px;
  background-color: var(--primary-color-white);
  font-size: 16px;
  line-height: 133%;
  color: var(--primary-color-black);
}

.error {
  color: var(--secondary-color-3);
  margin-bottom: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: var(--box-shadow);
}

.navigation {
  margin-top: 8px;
  color: var(--primary-color-blue);
  text-decoration: none;
}


.navigation a:hover {
  text-decoration: underline;
}

.navigationList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formGroup input::placeholder {
  color: var(--secondary-color-4);
  font-size: 16px;
  line-height: 133%;
}

.passwordWrapper {
  position: relative;
}

.passwordToggleIcon {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon {
  stroke: var(--primary-color-blue);
  fill: transparent;
}

.authPageTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .authFormContainer {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .authFormContainer {
    width: 384px;
  }

  .authFormContainer {
    position: static;
  }
}