.buttonAuth {
    background-color: var(--primary-color-white);
  background-image: none;
  border: 1px solid var(--google-stroke);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--google-font-color);
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 20px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 400px;
  min-width: min-content;
  margin-top: 12px;
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.buttonAuth .iconGoogle {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.buttonAuth .buttonContentWrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.buttonAuth .buttonContents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.buttonAuth .buttonState {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.buttonAuth:disabled .buttonContents {
  opacity: 38%;
}

.buttonAuth:disabled .iconGoogle {
  opacity: 38%;
}

.buttonAuth:not(:disabled):active .buttonState, 
.buttonAuth:not(:disabled):focus .buttonState {
  
  opacity: 12%;
}

.buttonAuth:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.buttonAuth:not(:disabled):hover .buttonState {
  
  opacity: 8%;
}

@media (max-width: 767px) {
  .buttonAuth {
    font-size: 14px; 
  }
}
