.modalContent {
  background: var(--primary-color-white);
  width: 280px;
  padding: 24px 24px 32px 24px;
  border-radius: 10px;
}

.message {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cancelButton,
.confirmButton {
  width: 232px;
  height: 36px;
  border-radius: 10px;
  background-color: var(--secondary-color-5);
  color: var(--primary-color-blue);
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  align-content: center;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out;
  &:hover {
    box-shadow: var(--box-shadow-3);
  }
}

.confirmButton {
  background-color: var(--secondary-color-3);
  color: var(--primary-color-white);
}

@media (min-width: 768px) {
  .modalContent {
    width: 592px;
  }

  .btnGroup {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .cancelButton,
  .confirmButton {
    width: 160px;
    height: 44px;
  }
}
