/* header */

.headerContainer {
  height: 48px;
  margin-bottom: 24px;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .headerContainer {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .headerContainer {
    width: 704px;
    margin-bottom: 40px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    width: 1216px;
    margin-bottom: 49px;
    margin-top: 12px;
    margin-left: 84px;
    margin-right: 84px;
  }
}

/* Стилізація кнопки входу */
header button {
  font-weight: 400;
  border-radius: unset;
  border: none;
  box-shadow: none;

  width: 84px;
  height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;

  background-color: var(--primary-color-white);
  color: var(--primary-color-blue);

  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.25;
  font-size: 16px;
  font-weight: 400;
}
header button:hover {
  color: var(--secondary-color-5-orange);
}

/* Стилізація іконки у кнопці */
.buttonSvg {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  header button {
    width: 90px;
    line-height: 1.3;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .buttonSvg {
    width: 28px;
    height: 28px;
  }
}
