.modal {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  min-width: 280px;
}

/* ========================== */

.previousRecord {
  background: var(--secondary-color-5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 10px 10px 10px 24px;
  box-sizing: border-box;
}
.iconGlass {
  width: 26px;
  height: 26px;
  background: transparent;
  fill: var(--primary-color-blue);
}
.todayVolume {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--primary-color-blue);
  margin-right: 16px;
}
.todayTime {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--primary-color-black);
  white-space: nowrap;
}

/* ============================================== */

h3 {
  /* margin-top: 16px; */
  margin-bottom: 16px;
  font-size: 18px;
}

/* ================================================= */

.amountInput {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.amountInputButton {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color-4);
  background-color: var(--primary-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: background-color 0.2s ease;
}
.amountInputButton:hover {
  outline: none;
  box-shadow: var(--box-shadow-3);
}
.iconMinus {
  width: 24px;
  height: 24px;
  fill: var(--primary-color-blue);
}
.iconPlus {
  width: 24px;
  height: 24px;
  stroke: var(--primary-color-blue);
}
.amountInput span {
  min-width: 92px;
  background: var(--secondary-color-5);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color-blue);
  padding: 6px 10px;
  margin: 0 6px;
  box-sizing: border-box;
}

/* ============================================== */

.timeInput {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px 0;
}
.timeInput select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--secondary-color-4);
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: var(--primary-color-blue);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
  appearance: none;
}
/* ==================== ширина */
.editMode select {
  width: 100%;
}

/* ==================== ширина */
.addMode select {
  width: 50%;
}
.timeInput select:hover {
  outline: none;
  box-shadow: var(--box-shadow-3);
}

.manualInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.manualInputLabel {
  font-size: 18px;
  font-weight: 500;
}
.manualInput input {
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid var(--secondary-color-4);
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: var(--primary-color-blue);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
/* ================ ширина */
.editMode input {
  width: 100%;
}

/* ================ ширина */
.addMode input {
  width: 50%;
}
.manualInput input:hover {
  outline: none;
  box-shadow: var(--box-shadow-3);
}
.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numberInput.error {
  border: 1px solid var(--secondary-color-3);
  color: var(--secondary-color-3);
}

.validationError {
  color: var(--secondary-color-3);
  font-size: 12px;
}
/* ====================================== */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.savedAmount {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color-blue);
}
.saveButton {
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  height: 36px;
  box-shadow: var(--box-shadow);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.saveButton:hover {
  outline: none;
  box-shadow: var(--box-shadow-3);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
  }
  .previousRecord {
    width: 254px;
  }
  .buttons {
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
  }
  .saveButton {
    width: 160px;
  }
  /* .manualInput input {
    width: 100%;
  }
  .timeInput select {
    width: 100%;
  } */

  .editMode input {
    width: 80%;
  }
  .addMode input {
    width: 100%;
  }
  .editMode select {
    width: 80%;
  }
  .addMode select {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 592px;
  }
  .editMode input {
    width: 100%;
  }
  .editMode select {
    width: 100%;
  }
}
