.container {
  width: 320px;
  height: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: var(--background-elem-signin-mobile);
  /* background-image: url(../../images/background/mobile/icon-light-background-elem-signin.svg); */
}

.containerBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottleBg {
  margin-top: 102px;
  background-image: var(--bottle-signin-mobile);
  /* background-image: url(../../images/background/mobile/icon-light-bottle-signin.svg); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 210px;
  background-position: center;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
    background-image: var(--bottle-signin-tablet);
    /* background-image: url(../../images/background/tablet/icon-light-bottle-signin.svg); */
    background-size: cover;
    background-position: bottom center;
  }

  .containerBox {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .block {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bottleBg {
    margin-top: 0;
    width: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 800px;
    padding: 0 18px;
    padding-bottom: 109px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: var(--background-elem-main-page-desktop);
    /* background-image: url(../../images/background/desktop/icon-light-background-elem-main-page.svg); */
  }

  .block {
    position: absolute;
    top: 113px;
    left: 822px;
    right: 198px;
    bottom: 193px;
  }

  .bottleBg {
    width: 916px;
    min-height: 680px;
    /* background-image: var(--bottle-signin-desktop); */
    /* background-image: url(../../images/background/desktop/icon-light-bottle-home-screen.svg); */
  }
}
