.modalBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;

  &.base-modal-enter {
    opacity: 0;
  }

  &.base-modal-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

  &.base-modal-exit {
    opacity: 1;
  }

  &.base-modal-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out 200ms;
  }
}

.modalContent {
  translate: -50% -50%;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 280px;
  max-height: 90vh;
  background: var(--primary-color-white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  z-index: 1;

  &.modal-content-enter {
    opacity: 0;
    scale: 0.5;
  }

  &.modal-content-enter-active {
    opacity: 1;
    scale: 1;
    transition: opacity 300ms ease-in-out 200ms, scale 200ms ease-in-out 200ms;
  }

  &.modal-content-exit {
    opacity: 1;
    scale: 1;
  }

  &.modal-content-exit-active {
    opacity: 0;
    scale: 0.5;
    transition: opacity 300ms ease-in-out, scale 200ms ease-in-out;
  }
}

.modalHeader {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 12px;
}

.modalHeaderLogOut,
.modalHeaderDelete {
  padding: 32px 24px 0 24px;
}

.modalBoxTitle {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .modalHeader {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.closeBtn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;

  svg {
    width: 100%;
    height: 100%;
    stroke: var(--primary-color-blue);

    &:hover,
    &:focus {
      stroke: var(--secondary-color-5-orange);
    }
  }
}
