@import url("./fonts/fonts.css");

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  /* color: currentColor; */
  cursor: pointer;
  outline: none;
}

button:hover {
  box-shadow: none;
}

input {
  outline: none;
}

/* colour variables */
body {
  --primary-color-white: #ffffff;
  --primary-color-black: #2f2f2f;
  --primary-color-blue: #407bff;

  --secondary-color-2: #ecf2ff;
  --secondary-color-3: #ef5050;
  --secondary-color-4: #9ebbff;
  --secondary-color-5-orange: #ff9d43;
  --secondary-color-5: #d7e3ff;

  --fill-color-blue: #c6d7ff;
  --fill-color-white: #f5f5f5;

  --box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  --box-shadow-2: 0px 4px 14px 0px rgba(64, 123, 255, 0.3);
  --box-shadow-3: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);

  --base-backdrop-color: rgba(0, 0, 0, 0.8);
  --backdrop-color: rgba(64, 123, 255, 0.1);

  transition: color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

body.dark {
  --primary-color-white: #1c1d26;
  --primary-color-black: #d5dff5;
  --primary-color-blue: #5082f2;

  --secondary-color-2: #1f2438;
  --secondary-color-3: #f16161;
  --secondary-color-4: #2f3875;
  --secondary-color-5-orange: #ffa756;
  --secondary-color-5: #2a3052;

  --fill-color-blue: #272e59;
  --fill-color-white: #1b1b21;
}

/* common styles */
a {
  font-weight: 400;
  color: var(--primary-color-blue);
  text-decoration: inherit;
}


body {
  color: var(--primary-color-black);
  background-color: var(--primary-color-white);
  margin: 0 auto;
  width: 320px;
}

@media (prefers-color-scheme: dark) {
  /* body {
    --primary-color-white: #1C1D26;
    --primary-color-black: #D5DFF5;
    --primary-color-blue: #5082F2;

    --secondary-color-2: #1F2438;
    --secondary-color-3: #F16161;
    --secondary-color-4: #2F3875;
    --secondary-color-5-orange: #FFA756;
    --secondary-color-5: #2A3052;

    --fill-color-blue: #272E59;
    --fill-color-white: #1B1B21;
  } */
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
}