/* colour variables */
body {
    --primary-color-white: #ffffff;
    --primary-color-black: #2f2f2f;
    --primary-color-blue: #407bff;

    --secondary-color-2: #ecf2ff;
    --secondary-color-3: #ef5050;
    --secondary-color-4: #9ebbff;
    --secondary-color-5-orange: #ff9d43;
    --secondary-color-5: #d7e3ff;

    --fill-color-blue: #c6d7ff;
    --fill-color-white: #f5f5f5;

    transition: color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

body.dark {
    --primary-color-white: #1c1d26;
    --primary-color-black: #d5dff5;
    --primary-color-blue: #5082f2;

    --secondary-color-2: #1f2438;
    --secondary-color-3: #f16161;
    --secondary-color-4: #2f3875;
    --secondary-color-5-orange: #ffa756;
    --secondary-color-5: #2a3052;

    --fill-color-blue: #272e59;
    --fill-color-white: #1b1b21;
}

/* Shadow variables */
body {
    /* Кнопка нормал box-shadow: */
    --box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);

    /* Картка (--box-shadow-2) box-shadow: */
    --box-shadow-2: 0px 4px 14px 0px rgba(64, 123, 255, 0.3);

    /* Кнопка ховер (--box-shadow-3) box-shadow:*/
    --box-shadow-3: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);

    /* Картка Дейлі норма box-shadow: 0px 4px 4px 0px rgba(64, 123, 255, 0.30); */
    --box-shadow-card: 0px 4px 4px 0px rgba(64, 123, 255, 0.30);
}


/* Background variables */
body {

    /* desctop */
    --background-elem-main-page-desktop: url(/src/images/background/desktop/icon-light-background-elem-main-page.svg);

    --background-main-page-desktop: url(/src/images/background/desktop/icon-light-background-main-page.svg);

    --bottle-home-screen-desktop: url(/src/images/background/desktop/icon-light-bottle-home-screen.svg);

    --bottle-signin-desktop: url(/src/images/background/desktop/icon-light-bottle-signin.svg);


    /* tablet */
    --background-elem-home-screen-tablet: url(/src/images/background/tablet/icon-light-background-elem-home-screen.svg);

    --background-main-page-tablet: url(/src/images/background/tablet/icon-light-background-main-page.svg);

    --bottle-home-screen-tablet: url(/src/images/background/tablet/icon-light-bottle-home-screen.svg);

    --bottle-signin-tablet: url(/src/images/background/tablet/icon-light-bottle-signin.svg);


    /* mobile */
    --background-elem-home-screen-mobile: url(/src/images/background/mobile/icon-light-background-elem-home-screen.svg);

    --background-elem-signin-mobile: url(/src/images/background/mobile/icon-light-background-elem-signin.svg);

    --background-main-page-mobile: url(/src/images/background/mobile/icon-light-background-main-page.svg);

    --bottle-home-screen-mobile: url(/src/images/background/mobile/icon-light-bottle-home-screen.svg);

    --bottle-signin-mobile: url(/src/images/background/mobile/icon-light-bottle-signin.svg);
}

body.dark {

    /* desctop */
    --background-elem-main-page-desktop: url(/src/images/background/desktop/icon-dark-background-elem-main-page.svg);
    --background-main-page-desktop: url(/src/images/background/desktop/icon-dark-background-main-page.svg);
    --bottle-home-screen-desktop: url(/src/images/background/desktop/icon-dark-bottle-home-screen.svg);
    --bottle-signin-desktop: url(/src/images/background/desktop/icon-dark-bottle-signin.svg);

    /* dablet */
    --background-elem-home-screen-tablet: url(/src/images/background/tablet/icon-dark-background-elem-home-screen.svg);
    --background-main-page-tablet: url(/src/images/background/tablet/icon-dark-background-main-page.svg);
    --bottle-home-screen-tablet: url(/src/images/background/tablet/icon-dark-bottle-home-screen.svg);
    --bottle-signin-tablet: url(/src/images/background/tablet/icon-dark-bottle-signin.svg);

    /* mobile */
    --background-elem-home-screen-mobile: url(/src/images/background/mobile/icon-dark-background-elem-home-screen.svg);
    --background-elem-signin-mobile: url(/src/images/background/mobile/icon-dark-background-elem-signin.svg);
    --background-main-page-mobile: url(/src/images/background/mobile/icon-dark-background-main-page.svg);
    --bottle-home-screen-mobile: url(/src/images/background/mobile/icon-dark-bottle-home-screen.svg);
    --bottle-signin-mobile: url(/src/images/background/mobile/icon-dark-bottle-signin.svg);
}




/* Темна тема 
Кнопка нормал --box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.34);
Кнопка ховер (--box-shadow-3) --box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.54);
Картка (--box-shadow-2) --box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.20);
Картка Дейлі норма box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.20);  */